<section class="posts group">
  <% feed_posts.each do |post| %>

  <article class="post">
	  
    <div class="post-thumb">
      <a href="#"><img src="<%= post.user.avatar %>" width="54" height="54" alt=""></a>
    </div>
	<div class="post-content">
	    <header class="post-header group">
			<h3><%= link_to post.title, post_url(post.id), method: :get %></h3>
		
	      <div class="post-header-info">  
	        <%= link_to post.user.username, user_url(post.user) %>
	        <time><%= post.updated_at %></time>
	        <a class="likes" href="#"><%= post.likes.count.to_s + " likes" %></a>
	      </div>
	    </header>
	      <p class="post-body"><%= post.body %><p>
	</div>

    <div class="post-options">

      <% if params["id"].to_i == current_user.id %>

        <%= render partial: "layouts/post/deletepost", locals: {post: post} %>

        <%= render partial: "layouts/post/editpost", locals: {post: post} %>

      <% else %>

        <% if post.likers.include?(current_user) %>
          <%= button_to "unlike", like_url(post.likes.where("user_id = ?", current_user.id).first.id), method: :delete %>
        <% else %>
          <%= button_to "like", post_likes_url(post.id), method: :post %>

        <% end %>

      <% end %>
    </div>


    <div class="comment">
      <%= render partial: "layouts/comment/postcomments", locals: {post: post} %>
    </div>

	
  </article>

  <% end %>
  
</section>
