<section class="posts">
  <% feed_posts.each do |post| %>

  <article class="post">

    <header class="post-header group">

      <div class="post-header-info">
        <h3><%= link_to post.title, post_url(post.id), method: :get %></h3>
        <%= post.user.username %>
        <time><%= post.updated_at %></time>
        <%= post.likes.count.to_s + " likes" %>
      </div>
    </header>
    <div class="post-body">
      <%= post.body %>
    </div>

    <div class="post-options">

      <% if params["id"].to_i == current_user.id %>

        <%= render partial: "layouts/post/deletepost", locals: {post: post} %>

        <%= render partial: "layouts/post/editpost", locals: {post: post} %>

      <% else %>

        <% if post.likers.include?(current_user) %>
          <%= button_to "unlike", like_url(post.likes.where("user_id = ?", current_user.id).first.id), method: :delete %>
        <% else %>
          <%= button_to "like", post_likes_url(post.id), method: :post %>

        <% end %>

      <% end %>
    </div>


    <div class="comment">
      <%= render partial: "layouts/comment/postcomments", locals: {post: post} %>
    </div>


  </article>

  <% end %>

</section>