<div class="sign-in-wrap">
	<form class="session-form" action="<%= session_url %>" method="post">
	  <%= auth_token %>

		<h3>Rebulba</h3>
	
		  <div class="input">
		    <label for="user-email">Email</label>
		    <input type="email" id="user-email" name="user[email]" value="<%= User.first.email %>">
		  </div>

		  <div class="input">
		    <label for="user-password">Password</label>
		    <input type="password" id="user-password" name="user[password]" value="<%= "123456" %>">
			</div>
			
		  <div class="submit">
		    <input type="submit" value="Sign In">
		  </div>
	
	</form>
	</div>
	
	<h3><%= link_to "--Visit Sign Up Page--", new_user_url %></h3>
	
	<h3><a href="auth/facebook">Sign in with Facebook</a></h3>