  <% post.comments.each do |comment| %>

    <%= comment.body %>

    <% if comment.user_id == current_user.id %>
      <%= render partial: "layouts/comment/edit", locals: {post: post, comment: comment} %>
    <% else %>
        <%#= button_to "like", user_post_comment_likes_url(current_user.id, post.id, comment_id), method: :post %>
    <% end %>


    <% if comment.user_id == current_user.id || post.user_id == current_user.id %>
      <%= render partial: "layouts/comment/delete", locals: {comment: comment} %>
    <% end %>

  <form action="<%= comment_url(comment.id) %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <%= auth_token %>
    <input type="submit" value="delete">
  </form>

  <% end %>

  <form action="<%= user_post_comments_url(post.user_id, post.id) %>" method="post">
    <%= auth_token %>
    <label for="comment-body" name>Comment</label>
    <input type="textarea" id="comment-body" name=comment[body] value="">

    <input type="submit" value="Add">
  </form>
