<div class="comments-wrap">

<% if (comments.length !== 0) { %>
	<% comments.each(function(comment){ %>

		
			<article>
				<h4>
						<a href="#"><%= comment.user.escape("username") %></a>
						<time class="timeago" datetime="<%= comment.escape("updated_at") %>"></time>
				</h4> 
				
				<p>
					<%= comment.escape("body") %>
				</p>
				
				<div class="comment-bottom">
				 <a href="#">likes go here</a>
      	 
				 <button class="delete-comment" data-id="<%= comment.id %>">Delete</button>
				</div>
			</article>
		


	<% }) %>
<% }; %>

	<article class="new-comment-wrap">
		<form id="new-comment-form">
	    <div class="input">
	      <label for="comment-body" name>Comment</label>
	      <input type="textarea" id="comment-body" name="comment[body]" value="">
	    </div>
			
				<input type="hidden" name="comment[post_id]" value="<%= post.id %>">

	    <div class="submit">
	      <input data-id="<%= post.id %>" class="submit-comment-button" type="submit" value="submit">
	    </div>
		</form>
	</article>

</div>