

<% if (comments.length !== 0) { %>
	<% comments.each(function(comment){ %>

		
			<article class="comment-article">
				<h4 class="group">
					<dvi class="comment-header-right">
			 			<% if (post.get("user_id") === Rebulba.current_user.id || comment.user.get("id") === Rebulba.current_user.id) { %>
							<button class="delete-comment" data-id="<%= comment.id %>">&times;</button>
					 	<% }; %>
						
						<time class="timeago" datetime="<%= comment.escape("updated_at") %>"></time>
					</dvi>
					
						<a href="/users/<%= comment.user.get("id")%> " ><%= comment.user.escape("username") %></a>
						
				</h4> 
				
				<p class="comment-body" data-id="<%= comment.id %>"><%= comment.escape("body") %></p>
				
				<div class="comment-bottom">
				
				 <div class="liker-list">
					 
					 <a href="#"><%= comment.likes.length %> likes</a>
					 <ul class="comment-like-list">
			
					 	<% comment.likes.each(function(like) { %>

							<li class="group">
								<a class="comment-liker-link" href="<%= like.user.get("user_url") %>"><%= like.user.get("username") %></a>
							</li>
						<% }) %>

					</ul>
				 </div>
					
					<% if (comment.user.get("id") !== Rebulba.current_user.id) { %>
						
						<% if (comment.likes.findWhere({user_id: Rebulba.current_user.id})) { %>
							<button data-id="<%= comment.id %>" class="unlike-comment">Unlike</button>
						<% } else { %>
							<button data-id="<%= comment.id %>" class="like-comment">Like</button>
						<% } %>
						
					<% } %>
				</div>
			</article>


	<% }) %>
<% }; %>

	<article class="new-comment-wrap">
		<form id="new-comment-form">
			<h3>New Comment</h3>
	    <div class="input">
	      <input type="textarea" id="comment-body" name="comment[body]" value="">
	    </div>
			
				<input type="hidden" name="comment[post_id]" value="<%= post.id %>">

	    <div class="submit">
	      <input data-id="<%= post.id %>" class="submit-comment-button" type="submit" value="submit">
	    </div>
		</form>
	</article>