<section class="posts group">
  <% posts.each(function(post){ %>
  
  	<article class="post">
	    <div class="post-thumb">
			<a href="#">
				<img src="http://s3.amazonaws.com/rebulba_dev/users/avatars/000/000/007/original/puppy.jpg?1398551275" width="54" height="54" alt="">
			</a>
	    </div>
		
		<div class="post-content">
			<header class="post-header group">
			<h4><a href="#">Demo User</a></h4>
			<h3><a href="#"><%= post.escape("title")%></a></h3>
			
		      <div class="post-header-info">  
		        <time><%= post.escape("updated_at") %></time>
		      </div>
		    </header>
		     <p class="post-body"><%= post.escape("body") %></p>
				 <nav class="post-bottom-nav">
					 <button class="post-option-toggle" data-id="<%= post.id %>">option</button>
					 <a class="likes" href="#"><%= "fix model first of:" + " likes" %></a>
			 
				</nav>

		</div>
		
	    <div class="post-options">
	  	  <div class="show-post-options">
		  
		  	<nav class="post-option-nav">
				<button class="delete-post" data-id="<%= post.id %>">Delete</button>
	  			<button class="edit-post" data-id="<%= post.id %>">Edit</button>
	  			<button class="like-post" data-id="<%= post.id %>">Like</button>
			</nav>
	  	</div>
	    </div>
		
		<div class="comment">
			<div class="comment-wrap">
				<article>
				<p></p>
				</article>
			</div>
		
		</div>
	
	
	</article>
	
	<% }); %>
  
</section>