<header>
  <nav class="navbar">
	  
  	<ul class="group">
			<li><%= link_to "Home", user_url(current_user.id) %></li>
			<li><%= button_to "sign out", session_url, method: :delete %></li>
  	</ul>
		
  </nav>

</header>

<div class="content group">

  <section class="profile">
  
    <% if @user.avatar %>
      <img src="<%= @user.avatar.url %>">
    <% else %>
      <img src="http://s3.amazonaws.com/rebulba_dev/users/avatars/000/000/007/original/puppy.jpg?1398551275">

    <% end %>
		
		<div class="add-delete-follower">
	  	<% if current_user.id.to_s != params[:id] %>
	      <% if current_user.people_he_follows.include?(@user) %>
	        <%= render partial: "layouts/following/deletefollowee", locals: {followee: @user} %>
	      <% else %>
	        	<%= render partial: "layouts/following/new" %>
	      <% end %>
			<% end %>
		</div>
 	 	
		<nav class="profile-side-nav">
			<button class="side-nav-button" id="followings">Followings</button>
			<button class="side-nav-button" id="followers">Follwers</button>
			<button class="side-nav-button" id="notifications">Notifications</button>
		</nav>
		
		<div class="following-wrap">
	    <div class="following">
	      <%= render partial: "layouts/following/followings", locals: {user: @user} %>	
	    </div>
		</div>
		
			<div class="notifications-wrap">
				<ul class="notifications-list">
				<% @current_user.notifications.each do |note| %>
					<% if note.is_read %>
						<!-- <li class="read">
							<a href="<%= notification_url(note) %>"><%= note.text %></a>
							<form action="<%= notification_url(note) %>" method="post">
								<%= auth_token %>
								<input type="hidden" name="_method" value="delete">
								<button>X</button>
							</form>
						</li> -->
					<% else %>
						<li class="unread">
							<a href="<%= notification_url(note) %>"><%= note.text %></a>
							<time><%= note.created_at %><time>
							<form action="<%= notification_url(note) %>" method="post">
								<%= auth_token %>
								<input type="hidden" name="_method" value="delete">
								<button>X</button>
							</form>
						</li>
					<% end %>
				<% end %>
			</ul>
		</div>
		
  </section>

	  <% if current_user.id.to_s == params[:id] %>
	    <section class="feed group">
	      <%= render partial: "layouts/user/feed" %>
	    </section>
	  
		<% else %>
		  <section class="show-page group">
		
		    <%= render partial: "layouts/user/show", locals: {user: @user} %>
		  </section>
	  <% end %>
	
</div>

<script type="application/json" id="bootstrapped_user_json">
  { "current_user": <%= current_user.to_json.html_safe %>,
		"user": <%= @user.to_json.html_safe %>, 
		"feed-posts": <%= render(partial: "posts/posts.json", locals: { posts: @feed_posts}).html_safe %>,
  	"user-posts": <%= render(partial: "posts/posts.json", locals: { posts: @user_posts}).html_safe %>,
		"ownPage": <%= @own_page %>,
		"home_url": <%= current_user.show_url.to_json.html_safe %>,
		"edit_url": <%= edit_user_url(current_user).to_json.html_safe %>
	}
</script>

<script>
	$(document).ready(function(){
		
		$("#notifications").on("click", function(){
			if ($(".notifications-wrap").hasClass("visible")){
				$(".notifications-wrap").removeClass("visible")
			} else {
				$(".notifications-wrap").addClass("visible")
			};
		});
		
		$("#followings").on("click", function(){
			if ($(".following-wrap").hasClass("visible")){
				$(".following-wrap").removeClass("visible")
			} else {
				$(".following-wrap").addClass("visible")
			};
		});
		

		
	  Rebulba.initialize();
	});
	


	
</script>



