<header>
  <nav class="navbar">
	  
  	<ul class="group">
			<li><a href="#">View Feed</a></li>
			<li><%= link_to "Dashboard", user_url(current_user.id) %></li>
	    <li><%= link_to "Edit Profile", edit_user_url(current_user) %></li>
	    <li><%= button_to "sign out", session_url, method: :delete %></li>
  	</ul>
  </nav>

</header>

<div class="content group">

  <section class="profile">
  
    <% if @user.avatar %>
      <img src="<%= @user.avatar.url %>">
    <% else %>
      <img src="http://s3.amazonaws.com/rebulba_dev/users/avatars/000/000/007/original/puppy.jpg?1398551275">

    <% end %>
		
		<div class="add-delete-follower">
	  	<% if current_user.id.to_s != params[:id] %>
	      <% if current_user.people_he_follows.include?(@user) %>
	        <%= render partial: "layouts/following/deletefollowee", locals: {followee: @user} %>
	      <% else %>
	        	<%= render partial: "layouts/following/new" %>
	      <% end %>
			<% end %>
		</div>
 
    <div class="following">
      <%= render partial: "layouts/following/followings", locals: {user: @user} %>	
    </div>
		
  </section>

	  <% if current_user.id.to_s == params[:id] %>
	    <section class="feed group">
	      <%= render partial: "layouts/user/feed" %>
	    </section>
	  
		<% else %>
	  <section class="show-page group">
		
	    <%= render partial: "layouts/user/show", locals: {user: @user} %>
	  </section>
	  <% end %>
	
</div>

<script type="application/json" id="bootstrapped_user_json">
  { "user": <%= @user.to_json.html_safe %>, 
  	"feed-posts": <%= @feed_posts.to_json(include: :user).html_safe %>,
  	"user-posts": <%= @user_posts.to_json(include: :user).html_safe %>,
		"ownPage": <%= @own_page %> }
</script>

<script>
	$(document).ready(function(){
	  Rebulba.initialize();
		
	});
</script>



