<div class="content group">

  <section class="profile">
  
    <% if @user.avatar %>
      <img src="<%= @user.avatar.url %>">
    <% else %>
      <img src="http://s3.amazonaws.com/rebulba_dev/users/avatars/000/000/007/original/puppy.jpg?1398551275">

    <% end %>
		
		<div class="add-delete-follower">
	  	<% if current_user.id.to_s != params[:id] %>
	      <% if current_user.people_he_follows.include?(@user) %>
	        
	      <% else %>
	        	<%= render partial: "layouts/following/new" %>
	      <% end %>
			<% end %>
		</div>
 	 	
		<nav class="profile-side-nav">
			<form action="<%= session_url %>" class="button_to sign-out" method="post">
				<input name="_method" type="hidden" value="delete">
				<input type="submit" value="Sign Out">
				<%= auth_token %>
			</form>
			<li class="home-link"><%= link_to "Home", user_url(current_user.id) %></li>

			<button class="side-nav-button" id="followings">Following (<%= @user.people_he_follows.count %>)</button>
			<button class="side-nav-button" id="followers">Followers (<%= @user.followers.count %>) </button>
			<button class="side-nav-button" id="notifications">Notifications (<%= current_user.notifications.unread.count %>)</button>
			
			
			
		</nav>
		
		<div class="following-wrap">
	    <div class="following">
	      <%= render partial: "layouts/following/followings", locals: {user: @user} %>	
	    </div>
		</div>
		
		<div class="followers-wrap">
	    <div class="followers">
	      <%= render partial: "layouts/following/followers", locals: {user: @user} %>	
	    </div>
		</div>
		
			<div class="notifications-wrap">
				<ul class="notifications-list">
				<% @current_user.notifications.each do |note| %>
					<% if note.is_read %>
						<!-- <li class="read">
							<a href="<%= notification_url(note) %>"><%= note.text %></a>
							<form action="<%= notification_url(note) %>" method="post">
								<%= auth_token %>
								<input type="hidden" name="_method" value="delete">
								<button>X</button>
							</form>
						</li> -->
					<% else %>
						<li class="unread group">
							<form action="<%= notification_url(note) %>" method="post">
								<%= auth_token %>
								<input type="hidden" name="_method" value="delete">
								<button>X</button>
							</form>
							<a href="<%= notification_url(note) %>"><%= note.text %></a>
							<time><%= note.created_at %></time>
						</li>
					<% end %>
				<% end %>
			</ul>
		</div>
		
  </section>

	  <% if current_user.id.to_s == params[:id] %>
	    <section class="feed group">
	      <%= render partial: "layouts/user/feed" %>
	    </section>
	  
		<% else %>
		  <section class="show-page group">
		
		    <%= render partial: "layouts/user/show", locals: {user: @user} %>
		  </section>
	  <% end %>
	
</div>

<script type="application/json" id="bootstrapped_user_json">
  { "current_user": <%= current_user.to_json.html_safe %>,
		"user": <%= @user.to_json.html_safe %>, 
		"feed-posts": <%= render(partial: "posts/posts.json", locals: { posts: @feed_posts}).html_safe %>,
  	"user-posts": <%= render(partial: "posts/posts.json", locals: { posts: @user_posts}).html_safe %>,
		"ownPage": <%= @own_page %>,
		"home_url": <%= current_user.show_url.to_json.html_safe %>,
		"edit_url": <%= edit_user_url(current_user).to_json.html_safe %>
	}
</script>

<script>
	$(document).ready(function(){
		
		$("#notifications").on("click", function(){
			$("#followings").removeClass("active-button")
			$("#followers").removeClass("active-button")
			
			$("#notifications").addClass("active-button")
			
			if ($(".notifications-wrap").hasClass("visible")){
				$(".notifications-wrap").removeClass("visible")
				$("#notifications").removeClass("active-button")
			} else {
				$(".notifications-wrap").addClass("visible")
			};
			
			$(".following-wrap").removeClass("visible")
			$(".followers-wrap").removeClass("visible")
			
		});
		
		$("#followings").on("click", function(){
			$("#notifications").removeClass("active-button")
			$("#followers").removeClass("active-button")
			
			$("#followings").addClass("active-button")
			
			if ($(".following-wrap").hasClass("visible")){
				$(".following-wrap").removeClass("visible")
				$("#followings").removeClass("active-button")
			} else {
				$(".following-wrap").addClass("visible")
			};
			
			$(".followers-wrap").removeClass("visible")
			$(".notifications-wrap").removeClass("visible")
		});
		
		$("#followers").on("click", function(){
			$("#notifications").removeClass("active-button")
			$("#followings").removeClass("active-button")
			
			$("#followers").addClass("active-button")
			if ($(".followers-wrap").hasClass("visible")){
				$(".followers-wrap").removeClass("visible")
				$("#followers").removeClass("active-button")
			} else {
				$(".followers-wrap").addClass("visible")
			};
			
			$(".following-wrap").removeClass("visible")
			$(".notifications-wrap").removeClass("visible")
			
		});

		
	  Rebulba.initialize();
	});
	


	
</script>



