<h1><%= @user.username + "\'s page" %></h1>

<%# if @user.avatar %>
  <img src="<%= @user.avatar.url %>">
<%# end %>


<% if current_user.id.to_s == params[:id] %>

  <div class="feed">

    <%= render partial: "layouts/user/feed" %>
  </div>

  <nav class="current-user-nav">
    <%= link_to "Edit My Profile", edit_user_url(current_user) %>
  </nav>


<% else %>

  <div class="show-page">

    <%= render partial: "layouts/user/show" %>

  </div>

<% end %>