<header>
  <nav class="navbar">
  
    <%= link_to "Edit Profile", edit_user_url(current_user) %>
    <%= link_to "Dashboard", user_url(current_user.id) %>
    <%= button_to "sign out " + current_user.username, session_url, method: :delete %>
  
  </nav>

</header>

<div class="content group">

  <h1><%= @user.username + "\'s page" %></h1>

  <section class="profile group">
  
    <% if @user.avatar %>
      <img src="<%= @user.avatar.url %>">
    <% else %>
      <img src="http://s3.amazonaws.com/rebulba_dev/users/avatars/000/000/007/original/puppy.jpg?1398551275">

    <% end %>
 
    <div class="following group">
      <%= render partial: "layouts/following/followings", locals: {user: @user} %>

	  	<% if current_user.id.to_s != params[:id] %>
	      <% if current_user.people_he_follows.include?(@user) %>
	        <%= render partial: "layouts/following/deletefollowee", locals: {followee: @user} %>
	      <% else %>
	        <%= render partial: "layouts/following/new" %>
	      <% end %>
		<% end %>
    </div>
  </section>


  <% if current_user.id.to_s == params[:id] %>
    <section class="feed group">
      <%= render partial: "layouts/user/feed" %>
    </section>
  <% end %>

  <section class="show-page group">
    <%= render partial: "layouts/user/show", locals: {user: @user} %>
  </section>

</div>


