<header>
  <div class="greeting">
    <%= "Hello " + current_user.username %>
  </div>
  <nav class="navbar">
  
    <%= link_to "Edit Profile", edit_user_url(current_user) %>
    <%= link_to "Dashboard", user_url(current_user.id) %>
    <%= button_to "Sign Out", session_url, method: :delete %>
  
  </nav>

<header>

<h1><%= @user.username + "\'s page" %></h1>

<% if @user.avatar %>
  <img src="<%= @user.avatar.url %>">
<% else %>
  <img src="http://s3.amazonaws.com/rebulba_dev/users/avatars/000/000/007/original/puppy.jpg?1398551275">

<% end %>

<% if current_user.id.to_s == params[:id] %>

  <div class="feed">

    <%= render partial: "layouts/user/feed" %>
  </div>

<% end %>

<div class="show-page">

  <%= render partial: "layouts/user/show" %>

</div>