<h1><%= @post.title %></h1>

<time><%= @post.updated_at %></time>
<strong><%= @post.user.username %></strong>

<p><%= @post.body %><p>
	

<%= render partial: "layouts/comment/postcomments", locals: { post: @post } %>