<ul>
<% @posts.each do |post| %>

<li>
  <%= post.title %>
  <%= post.body %>

  <form action="<%= post_url(post) %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <%= auth_token %>
    <input type="submit" value="delete">
  </form>

  <%= link_to "edit post", edit_post_url(post), method: :get %>

  <%= render partial: "layouts/editpost" %>

<li>


<% end %>
<ul>